@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: rgb(229, 231, 235);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom link underline animation */
.link-underline {
  position: relative;
}

.link-underline:after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.link-underline:hover:after {
  width: 100%;
}
